{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "i18n": {
      "plugins": [
        [ "react-intl", {
          "messagesDir": "./_translations",
          "enforceDescriptions": false
        }]
      ]
    }    
  },  
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ]
}
